@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("#//basehold.it/25");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  font-family: "Playfair Display", serif;
  font-size: 1.25em;  /* 20px / 16px = 1.25 em */
  line-height: 1.25em;  /* 25px/20px = 1.25 */
  padding: 1.25em 0.625em 1.25em 0.625em; /* 25px 12.5px 12.5px 12.5px / 20px */
}
h2 {
  padding-bottom: 1.25em;
  font-weight: bold;
  line-height: 1.1em; /* 22px/20px */
}
h3 {
  padding-top: 1.25em; /*25px/20px*/
  padding-bottom: 0.625em; /*12.5px/20px*/
  font-weight: 600;
  font-style: italic;
}
h1 {
  text-align: center;
  font-size: 1.1em; /*22px/20px*/
  padding-bottom: 1.25em; /*25px/20px*/
}
footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.5em; /*10px/20px*/
}
img {
  display: block;
  max-width: 100%;
  padding-bottom: 0.5em; /*10px/20px*/
  padding-top: 0.5em;/*10px/20px*/
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(238deg, rgba(2,0,36,1) 0%, rgba(130,130,217,1) 41%, rgba(0,212,255,1) 100%);
}

.background img {
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.contact a {
  text-decoration: none;
  font-size: 0.9em; /*18px/20px*/
}

/* Begin site styles below */
.nav li {
  padding-bottom: 0.4em; /*8px/20px*/
}
.nav a {
  display: block;
  text-decoration: none;
  background: rgb(31,164,157);
  background: linear-gradient(90deg, rgba(31,164,157,1) 37%, rgba(70,252,79,1) 100%); 
  padding: 0.45em; /*9px/20px*/
}
.nav a:hover {
  background: #f4853b;
}



/* Home page Intro Paragraph Changes */
#intro {
  font-family: "Source Sans Pro", sans-serif;
}

/* Resume page Changes bullet points */

#bullet {
  margin-left: 1.25em;
  padding-left: 0; /*25px/20px*/
  list-style-type: square;
}
/* Travel Page Paragraph Changes */
#content p {
  font-family: "Source Sans Pro", sans-serif;
}



/* Begin State styles below */
/* 330 px / 16 px */
@media screen and (min-width: 20.625em) {
  .nav::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
  .nav li {
    float: left;
    width: 33.3333333333%;
    text-align: center;
  }
  .nav a {
    margin-right: 0.4em; /*8px/20px*/
  }
  .nav li:last-child a {
    margin-right: 0;
  }
}

@media screen and (min-width: 40.625em) {
  /*650px/16px*/
  .nav {
    width: 66.6666666667%;
  }
}

@media screen and (min-width: 28.125em) {
  /*450px/16px*/
  #img {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around | center;
  }
  #img img {
    min-width: 0;
    width: 21.875em; /*350px/16px*/
    height: 12.5em; /*200px/16px*/
    padding: 0.5em; /*10px/20px*/
  }
}
